# Pandas Tutorial (Part 1)

## Introduction to Pandas
Pandas is a Python library for data manipulation and analysis.
In ML/DL workflows, pandas is often the first stop for:

- Reading datasets (CSV, Excel, SQL, JSON, etc.)

- Cleaning, transforming, and preprocessing data

- Exploratory Data Analysis (EDA)

- Converting data into formats suitable for NumPy, scikit-learn, or PyTorch.

## 1. Installation and Setup

In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import numpy as np



---

## 2. Core Data Structures: Series and DataFrame
Pandas has two primary data structures:

- Series: A one-dimensional labeled array, similar to a column in a spreadsheet.

- DataFrame: A two-dimensional labeled data structure with columns of potentially different types, like a full spreadsheet or a SQL table.

You can think of a DataFrame as a collection of Series objects.

In [3]:
# A Series
s = pd.Series([1, 3, 5, np.nan, 6, 8], name='MyNumbers')
print("A Pandas Series:")
print(s)

print("-" * 20)

# A DataFrame created from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print("\nA Pandas DataFrame:")
print(df)

A Pandas Series:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: MyNumbers, dtype: float64
--------------------

A Pandas DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston



---

## 3. Loading and Inspecting Data
In a real-world ML project, you'll typically load your data from a file. The most common format is a CSV (Comma-Separated Values) file. We'll use the Titanic dataset.

In [4]:
# Load the dataset from a URL
# This command downloads the data for you
!wget -q https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv -O titanic.csv

# Read the CSV file into a DataFrame
titanic_df = pd.read_csv('titanic.csv')

Once loaded, the first step is always to inspect the data.

In [5]:
# Display the first 5 rows
print("First 5 rows of the dataset:")
titanic_df.head()

First 5 rows of the dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Display the last 5 rows
print("\nLast 5 rows of the dataset:")
titanic_df.tail()

Last 5 rows of the dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [7]:
# Get a concise summary of the DataFrame
# This is crucial for seeing data types and missing values
print("\nDataFrame Info:")
titanic_df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
# Generate descriptive statistics for numerical columns
print("\nDescriptive Statistics:")
titanic_df.describe()

Descriptive Statistics:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200



---

## 4. Selecting and Filtering Data
For modeling, you need to be able to select specific parts of your data. For example, selecting your features (columns) or filtering out certain samples (rows).

**Column Selection**

In [9]:
# Select a single column (returns a Series)
ages = titanic_df['Age']
print("Selected 'Age' column (Series):")
print(ages.head())

# Select multiple columns (returns a DataFrame)
features = titanic_df[['Pclass', 'Sex', 'Age', 'Fare']]
print("\nSelected multiple columns (DataFrame):")
print(features.head())

Selected 'Age' column (Series):
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

Selected multiple columns (DataFrame):
   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

**Row Selection: .loc and .iloc**
- .loc: Selects data by label (e.g., index name, column name).

- .iloc: Selects data by integer position.

In [10]:
# Select the first row using iloc
print("First row (iloc):")
print(titanic_df.iloc[0])

# Select rows 0 to 2 and columns 0 to 3
print("\nSlice of the DataFrame (iloc):")
print(titanic_df.iloc[0:3, 0:4])

First row (iloc):
PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

Slice of the DataFrame (iloc):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina

**Conditional Filtering (Boolean Indexing)**
This is one of the most powerful features of pandas and is used constantly in ML for data preparation.

In [11]:
# Select all passengers who are older than 60
seniors = titanic_df[titanic_df['Age'] > 60]
print("Passengers older than 60:")
print(seniors.head())

# Select all female passengers who survived
female_survivors = titanic_df[(titanic_df['Sex'] == 'female') & (titanic_df['Survived'] == 1)]
print("\nFemale survivors:")
print(female_survivors.head())

Passengers older than 60:
     PassengerId  Survived  Pclass                            Name   Sex  \
33            34         0       2           Wheadon, Mr. Edward H  male
54            55         0       1  Ostby, Mr. Engelhart Cornelius  male
96            97         0       1       Goldschmidt, Mr. George B  male
116          117         0       3            Connors, Mr. Patrick  male
170          171         0       1       Van der hoef, Mr. Wyckoff  male

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked
33   66.0      0      0  C.A. 24579  10.5000   NaN        S
54   65.0      0      1      113509  61.9792   B30        C
96   71.0      0      0    PC 17754  34.6542    A5        C
116  70.5      0      0      370369   7.7500   NaN        Q
170  61.0      0      0      111240  33.5000   B19        S

Female survivors:
   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C



---

## 5. Data Cleaning
Real-world data is messy. Data cleaning is a critical, often time-consuming, step in the ML pipeline.

**Handling Missing Values**: The .info() command showed us that columns like Age, Cabin, and Embarked have missing values.

In [12]:
# Check the count of missing values in each column
print("Missing values per column:")
print(titanic_df.isnull().sum())

# Strategy 1: Fill missing 'Age' values with the median age
median_age = titanic_df['Age'].median()
titanic_df['Age'].fillna(median_age, inplace=True)

# Strategy 2: Drop the 'Cabin' column as it has too many missing values
titanic_df.drop('Cabin', axis=1, inplace=True)

# Strategy 3: Fill missing 'Embarked' with the mode (most common value)
mode_embarked = titanic_df['Embarked'].mode()[0]
titanic_df['Embarked'].fillna(mode_embarked, inplace=True)


# Verify that the missing values have been handled
print("\nMissing values after cleaning:")
print(titanic_df.isnull().sum())

Missing values per column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after cleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

/tmp/ipython-input-1788525119.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['Embarked'].fillna(mode_embarked, inplace=True)



---

## 6. Feature Engineering
Feature engineering is the art of creating new features from existing ones to improve model performance.

In [13]:
# Create a 'FamilySize' feature by adding 'SibSp' and 'Parch'
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

# Create a feature 'IsAlone'
titanic_df['IsAlone'] = 0
titanic_df.loc[titanic_df['FamilySize'] == 1, 'IsAlone'] = 1

print("DataFrame with new 'FamilySize' and 'IsAlone' features:")
titanic_df[['Name', 'FamilySize', 'IsAlone']].head()

DataFrame with new 'FamilySize' and 'IsAlone' features:

                                                Name  FamilySize  IsAlone
0                            Braund, Mr. Owen Harris           2        0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           2        0
2                             Heikkinen, Miss. Laina           1        1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           2        0
4                           Allen, Mr. William Henry           1        1

**Using .apply() and .map()**: The .apply() method is great for applying a custom function to a column. The .map() method is useful for substituting values.

In [14]:
# Use .map() to convert 'Sex' to a numerical feature
titanic_df['Sex_numeric'] = titanic_df['Sex'].map({'female': 1, 'male': 0})

# Use .apply() with a lambda function to create a 'Title' feature from 'Name'
titanic_df['Title'] = titanic_df['Name'].apply(lambda name: name.split(',')[1].split('.')[0].strip())

print("DataFrame with new 'Sex_numeric' and 'Title' features:")
titanic_df[['Sex', 'Sex_numeric', 'Name', 'Title']].head()

DataFrame with new 'Sex_numeric' and 'Title' features:

,Sex,Sex_numeric,Name,Title
0,male,0,"Braund, Mr. Owen Harris",Mr
1,female,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mrs
2,female,1,"Heikkinen, Miss. Laina",Miss
3,female,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mrs
4,male,0,"Allen, Mr. William Henry",Mr



---

## 7. Grouping and Aggregating
The groupby() operation is essential for understanding data segments and creating aggregated features.

In [15]:
# Group by 'Pclass' and calculate the mean survival rate
survival_by_class = titanic_df.groupby('Pclass')['Survived'].mean()
print("Mean survival rate by passenger class:")
print(survival_by_class)

# Group by 'Title' and calculate the mean age
age_by_title = titanic_df.groupby('Title')['Age'].mean()
print("\nMean age by title:")
print(age_by_title)

Mean survival rate by passenger class:
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Mean age by title:
Title
Capt            70.000000
Col             58.000000
Don             40.000000
Dr              40.000000
Jonkheer        38.000000
Lady            48.000000
Major           48.500000
Master           6.916750
Miss            23.005495
Mlle            24.000000
Mme             24.000000
Mr              31.362669
Mrs             34.824000
Ms              28.000000
Rev             43.166667
Sir             49.000000
the Countess    33.000000
Name: Age, dtype: float64



---

## 8. Combining Datasets
Sometimes your data is split across multiple files. Pandas provides functions to combine them.

- pd.concat(): Stacks DataFrames on top of each other or side-by-side.

- pd.merge(): Joins DataFrames based on common columns (like a SQL join).

In [16]:
# Create two example DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'C': ['C2', 'C3']})

# Concatenate them
concatenated_df = pd.concat([df1, df2], ignore_index=True, sort=False)
print("Concatenated DataFrame:")
print(concatenated_df)

# Create two DataFrames to merge
left = pd.DataFrame({'key': ['K0', 'K1'], 'A': ['A0', 'A1']})
right = pd.DataFrame({'key': ['K0', 'K1'], 'B': ['B0', 'B1']})

# Merge them on the 'key' column
merged_df = pd.merge(left, right, on='key')
print("\nMerged DataFrame:")
print(merged_df)

Concatenated DataFrame:
    A    B    C
0  A0   B0  NaN
1  A1   B1  NaN
2  A2  NaN   C2
3  A3  NaN   C3

Merged DataFrame:
  key   A   B
0  K0  A0  B0
1  K1  A1  B1



---

## 9. Practice Questions
Use the titanic_df DataFrame we've cleaned and modified to answer the following questions.

**Question 1:** Create a new DataFrame containing only the passengers who were part of a family (FamilySize > 1). How many such passengers are there?

**Question 2:** Find the average fare paid by passengers for each Embarked location.

**Question 3:** Create a new feature called AgeGroup that categorizes passengers into 'Child' (age < 18), 'Adult' (18 <= age <= 60), and 'Senior' (age > 60).

**Question 4:** What was the survival rate for passengers who were alone (IsAlone == 1) versus those who were not?

**Question 5:** Drop the Name, Ticket, and PassengerId columns as they are not useful for a simple ML model. Display the head of the final, cleaned DataFrame.



---

# Pandas Tutorial (Part 2) - Take Home

## Pandas for Machine Learning

## 1. Multi-Indexing (Hierarchical Indexing)

Sometimes, data is best organized with multiple index levels. This is called a MultiIndex and is useful for analyzing higher-dimensional data.

Let's create a MultiIndex by setting both Pclass and Sex as our index. This will allow us to group and access data more intuitively.

In [17]:
# First, let's make sure we have the original DataFrame for this section
titanic_df = pd.read_csv('titanic.csv')
# Basic cleaning from Part 1
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)


# Set a MultiIndex
multi_index_df = titanic_df.set_index(['Pclass', 'Sex'])
multi_index_df.sort_index(inplace=True)

print("DataFrame with a MultiIndex:")
multi_index_df.head(10)

DataFrame with a MultiIndex:

/tmp/ipython-input-134684183.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)
/tmp/ipython-input-134684183.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)

               PassengerId  Survived  \
Pclass Sex
1      female            2         1
       female            4         1
       female           12         1
       female           32         1
       female           53         1
       female           62         1
       female           89         1
       female          137         1
       female          152         1
       female          167         1

                                                            Name   Age  SibSp  \
Pclass Sex
1      female  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1
       female       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1
       female                           Bonnell, Miss. Elizabeth  58.0      0
       female     Spencer, Mrs. William Augustus (Marie Eugenie)  28.0      1
       female           Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.0      1
       female                                Icard, Miss. Amelie  38.0      0
       female                         Fortune, Miss. Mabel Helen  23.0      3
       female                       Newsom, Miss. Helen Monypeny  19.0      0
       female                  Pears, Mrs. Thomas (Edith Wearne)  22.0      1
       female             Chibnall, Mrs. (Edith Martha Bowerman)  28.0      0

               Parch    Ticket      Fare        Cabin Embarked
Pclass Sex
1      female      0  PC 17599   71.2833          C85        C
       female      0    113803   53.1000         C123        S
       female      0    113783   26.5500         C103        S
       female      0  PC 17569  146.5208          B78        C
       female      0  PC 17572   76.7292          D33        C
       female      0    113572   80.0000          B28        S
       female      2     19950  263.0000  C23 C25 C27        S
       female      2     11752   26.2833          D47        S
       female      0    113776   66.6000           C2        S
       female      1    113505   55.0000          E33        S

With a MultiIndex, you can select data from multiple levels.

In [18]:
# Select all passengers from Pclass 1
print("All passengers from Pclass 1:")
print(multi_index_df.loc[1].head())

print("\n" + "-"*40 + "\n")

# Select all female passengers from Pclass 1
# Note the tuple to access the hierarchical index
print("All female passengers from Pclass 1:")
print(multi_index_df.loc[(1, 'female')].head())

All passengers from Pclass 1:
        PassengerId  Survived  \
Sex
female            2         1
female            4         1
female           12         1
female           32         1
female           53         1

                                                     Name   Age  SibSp  Parch  \
Sex
female  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
female       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
female                           Bonnell, Miss. Elizabeth  58.0      0      0
female     Spencer, Mrs. William Augustus (Marie Eugenie)  28.0      1      0
female           Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.0      1      0

          Ticket      Fare Cabin Embarked
Sex
female  PC 17599   71.2833   C85        C
female    113803   53.1000  C123        S
female    113783   26.5500  C103        S
female  PC 17569  146.5208   B78        C
female  PC 17572   76.7292   D33        C

----------------------------------------

All female passengers from Pclass 1:
               PassengerId  Survived  \
Pclass Sex
1      female            2         1
       female            4         1
       female           12         1
       female           32         1
       female           53         1

                                                            Name   Age  SibSp  \
Pclass Sex
1      female  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1
       female       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1
       female                           Bonnell, Miss. Elizabeth  58.0      0
       female     Spencer, Mrs. William Augustus (Marie Eugenie)  28.0      1
       female           Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.0      1

               Parch    Ticket      Fare Cabin Embarked
Pclass Sex
1      female      0  PC 17599   71.2833   C85        C
       female      0    113803   53.1000  C123        S
       female      0    113783   26.5500  C103        S
       female      0  PC 17569  146.5208   B78        C
       female      0  PC 17572   76.7292   D33        C

Multi-indexing is especially powerful with groupby(). We can easily calculate statistics for nested groups.

In [19]:
# Calculate the mean survival rate and age for each Pclass and Sex combination
grouped_stats = multi_index_df.groupby(level=['Pclass', 'Sex'])[['Survived', 'Age']].mean()
print("Mean Survival and Age by Pclass and Sex:")
print(grouped_stats)

Mean Survival and Age by Pclass and Sex:
               Survived        Age
Pclass Sex
1      female  0.968085  33.978723
       male    0.368852  38.995246
2      female  0.921053  28.703947
       male    0.157407  30.512315
3      female  0.500000  23.572917
       male    0.135447  26.911873



---

## 2. Advanced Data Manipulation

**Method Chaining with .pipe()**: As your data processing pipelines grow, you can end up with nested, hard-to-read code. Method chaining (df.method1().method2()...) helps, and .pipe() takes it a step further by letting you cleanly insert your own custom functions into the chain

In [20]:
# Let's define a few functions we want to apply to our DataFrame
def drop_unnecessary_cols(df):
    """Drops columns not immediately useful for modeling."""
    return df.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

def create_family_features(df):
    """Creates family size and is_alone features."""
    df_copy = df.copy() # Avoid SettingWithCopyWarning
    df_copy['FamilySize'] = df_copy['SibSp'] + df_copy['Parch'] + 1
    df_copy['IsAlone'] = np.where(df_copy['FamilySize'] == 1, 1, 0)
    return df_copy

def convert_sex_to_numeric(df):
    """Maps sex to a numeric format."""
    df_copy = df.copy()
    df_copy['Sex'] = df_copy['Sex'].map({'female': 1, 'male': 0})
    return df_copy

# Now, let's create a clean processing pipeline using .pipe()
# Start with a fresh copy of the raw data
raw_df = pd.read_csv('titanic.csv')

# The pipeline reads like a recipe!
processed_df = (raw_df
                .pipe(drop_unnecessary_cols)
                .pipe(create_family_features)
                .pipe(convert_sex_to_numeric)
               )

print("DataFrame after being processed through a .pipe() pipeline:")
processed_df.head()

DataFrame after being processed through a .pipe() pipeline:

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,0,3,0,22.0,1,0,7.2500,S,2,0
1,1,1,1,38.0,1,0,71.2833,C,2,0
2,1,3,1,26.0,0,0,7.9250,S,1,1
3,1,1,1,35.0,1,0,53.1000,S,2,0
4,0,3,0,35.0,0,0,8.0500,S,1,1

**The Categorical Data Type**
For columns with a limited, fixed number of possible values (like 'Embarked' or 'Pclass'), using the default object or int dtype is inefficient. Pandas provides a dedicated Categorical dtype.

Benefits:

- Memory Savings: Uses much less memory by storing integer codes instead of full strings.

- Performance Boost: Group-by operations and other computations are often faster.

- Semantic Meaning: Signals to other libraries (like scikit-learn or plotting libraries) that this column has a fixed set of categories.

In [21]:
# Let's work with the 'Embarked' column
df = pd.read_csv('titanic.csv')
print("Memory usage of 'Embarked' as object:")
print(f"{df['Embarked'].memory_usage(deep=True)} bytes")

# Convert to Categorical
df['Embarked'] = df['Embarked'].astype('category')
print("\nMemory usage of 'Embarked' as category:")
print(f"{df['Embarked'].memory_usage(deep=True)} bytes")

# You can access categorical properties using the .cat accessor
print("\nCategories:", df['Embarked'].cat.categories)
print("Integer codes:", df['Embarked'].cat.codes.head())

Memory usage of 'Embarked' as object:
51758 bytes

Memory usage of 'Embarked' as category:
1305 bytes

Categories: Index(['C', 'Q', 'S'], dtype='object')
Integer codes: 0    2
1    0
2    2
3    2
4    2
dtype: int8

**Working with Text Data (.str accessor)**: Cleaning and feature engineering from text is a common ML task. The .str accessor provides vectorized string processing functions.

In [22]:
df = pd.read_csv('titanic.csv')

# Extract passenger titles from the 'Name' column using a regular expression
# This pattern looks for a word ending with a period
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

print("Extracted titles:")
print(df['Title'].value_counts())

# We can clean this up by replacing rare titles
common_titles = ['Mr', 'Miss', 'Mrs', 'Master']
df['Title'] = df['Title'].apply(lambda x: x if x in common_titles else 'Other')

print("\nCleaned titles:")
print(df['Title'].value_counts())

Extracted titles:
Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Ms            1
Mme           1
Don           1
Lady          1
Sir           1
Capt          1
Countess      1
Jonkheer      1
Name: count, dtype: int64

Cleaned titles:
Title
Mr        517
Miss      182
Mrs       125
Master     40
Other      27
Name: count, dtype: int64

**Working with Datetime Data (.dt accessor)**: If your data has dates or times, you must convert them to the datetime dtype to unlock powerful time-series functionalities with the .dt accessor

In [23]:
# Let's create an example DataFrame with dates
date_data = pd.DataFrame({
    'date_str': ['2025-01-01', '2025-01-15', '2025-02-05', '2025-03-21'],
    'sales': [200, 150, 300, 500]
})

# Convert the string column to datetime objects
date_data['date'] = pd.to_datetime(date_data['date_str'])
print("DataFrame with datetime objects:")
date_data.info()

# Now we can use the .dt accessor to engineer features
date_data['month'] = date_data['date'].dt.month
date_data['day_of_week'] = date_data['date'].dt.dayofweek # Monday=0, Sunday=6
date_data['is_quarter_start'] = date_data['date'].dt.is_quarter_start

print("\nDataFrame with new datetime features:")
print(date_data)

DataFrame with datetime objects:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date_str  4 non-null      object
 1   sales     4 non-null      int64
 2   date      4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 228.0+ bytes

DataFrame with new datetime features:
     date_str  sales       date  month  day_of_week  is_quarter_start
0  2025-01-01    200 2025-01-01      1            2              True
1  2025-01-15    150 2025-01-15      1            2             False
2  2025-02-05    300 2025-02-05      2            2             False
3  2025-03-21    500 2025-03-21      3            4             False



---

## 3. Window Functions
Window functions perform calculations across a sliding window of data points. They are essential for time-series forecasting, signal processing, and creating features that capture trends.

- .rolling(): Computes over a fixed-size window of prior data points.

- .expanding(): Computes over all data points from the beginning up to the current point.

In [24]:
# Create a sample time series DataFrame
ts_data = pd.DataFrame({
    'value': [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
})

# Calculate a 3-period rolling moving average
ts_data['rolling_mean_3'] = ts_data['value'].rolling(window=3).mean()

# Calculate the expanding cumulative sum
ts_data['expanding_sum'] = ts_data['value'].expanding().sum()

print("Time series with rolling and expanding calculations:")
print(ts_data)

Time series with rolling and expanding calculations:
   value  rolling_mean_3  expanding_sum
0      1             NaN            1.0
1      2             NaN            3.0
2      3        2.000000            6.0
3      5        3.333333           11.0
4      8        5.333333           19.0
5     13        8.666667           32.0
6     21       14.000000           53.0
7     34       22.666667           87.0
8     55       36.666667          142.0
9     89       59.333333          231.0



---

## 4. Advanced Practice Questions
Use the original titanic.csv for these questions.

**Question 1 (MultiIndex & Grouping):** Set a MultiIndex on the DataFrame using 'Pclass', 'Sex', and 'Embarked'. Then, calculate the median Age and Fare for each of these nested groups. Which group had the highest median Fare?

**Question 2 (Categorical & .str):**
a. Create a Title feature from the Name column.
b. Some titles like 'Mlle', 'Ms' are synonyms for 'Miss', and 'Mme' is a synonym for 'Mrs'. Use the .str.replace() method or .map() to consolidate them.
c. Convert the cleaned Title column into a Categorical dtype.

**Question 3 (.pipe() & Datetime):**
Imagine the Titanic sailing date was 1912-04-10. Create a dummy column 'PurchaseDate' that is a random number of days (between 1 and 100) before this sailing date. Write a function that takes this DataFrame, converts 'PurchaseDate' to datetime, and engineers two new features: DaysBeforeSailing (the difference in days) and PurchaseWeekday (the name of the day of the week). Use .pipe() to apply this function.

**Question 4 (Window Functions):** Let's pretend the Fare column represents daily stock prices for a fictional "White Star Line" stock, ordered by PassengerId. Calculate the 10-period rolling average Fare and the 10-period rolling standard deviation of the Fare. What are these values for PassengerId 10?



---

## Solutions
Solutions for Part 1:

In [25]:
# --- Solutions ---

# To make these solutions self-contained, we'll work with a fresh
# copy of the DataFrame and perform the necessary cleaning and
# feature engineering steps required by the questions.

df_sol = pd.read_csv('titanic.csv')

# --- Data Cleaning (from tutorial Section 5) ---
df_sol['Age'].fillna(df_sol['Age'].median(), inplace=True)
df_sol['Embarked'].fillna(df_sol['Embarked'].mode()[0], inplace=True)
df_sol.drop('Cabin', axis=1, inplace=True)

# --- Feature Engineering (from tutorial Section 6) ---
# Create 'FamilySize', which is needed for Question 1
df_sol['FamilySize'] = df_sol['SibSp'] + df_sol['Parch'] + 1

# Create 'IsAlone', which is needed for Question 4
df_sol['IsAlone'] = 0
df_sol.loc[df_sol['FamilySize'] == 1, 'IsAlone'] = 1


# --- Answering the Questions ---

# Solution 1
family_passengers = df_sol[df_sol['FamilySize'] > 1]
print(f"Solution 1: There are {len(family_passengers)} passengers who were part of a family.\n")

# Solution 2
fare_by_embarked = df_sol.groupby('Embarked')['Fare'].mean()
print("Solution 2: Average fare by embarkation location:")
print(fare_by_embarked)
print("\n")

# Solution 3
df_sol['AgeGroup'] = pd.cut(df_sol['Age'], bins=[0, 18, 60, 150], labels=['Child', 'Adult', 'Senior'], right=False)
print("Solution 3: Head of DataFrame with 'AgeGroup':")
print(df_sol[['Age', 'AgeGroup']].head())
print("\n")

# Solution 4
survival_by_aloneness = df_sol.groupby('IsAlone')['Survived'].mean()
print("Solution 4: Survival rate by 'IsAlone':")
print(survival_by_aloneness)
print("\n")

# Solution 5
final_df = df_sol.drop(['Name', 'Ticket', 'PassengerId'], axis=1)
print("Solution 5: Head of the final DataFrame for modeling:")
print(final_df.head())
print("\n")

Solution 1: There are 354 passengers who were part of a family.

Solution 2: Average fare by embarkation location:
Embarked
C    59.954144
Q    13.276030
S    27.243651
Name: Fare, dtype: float64


Solution 3: Head of DataFrame with 'AgeGroup':
    Age AgeGroup
0  22.0    Adult
1  38.0    Adult
2  26.0    Adult
3  35.0    Adult
4  35.0    Adult


Solution 4: Survival rate by 'IsAlone':
IsAlone
0    0.505650
1    0.303538
Name: Survived, dtype: float64


Solution 5: Head of the final DataFrame for modeling:
   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  FamilySize  \
0         0       3    male  22.0      1      0   7.2500        S           2
1         1       1  female  38.0      1      0  71.2833        C           2
2         1       3  female  26.0      0      0   7.9250        S           1
3         1       1  female  35.0      1      0  53.1000        S           2
4         0       3    male  35.0      0      0   8.0500        S           1

   IsAlone AgeGroup
0        0    Adult
1        0    Adult
2        1    Adult
3        0    Adult
4        1    Adult

/tmp/ipython-input-3142097050.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sol['Age'].fillna(df_sol['Age'].median(), inplace=True)
/tmp/ipython-input-3142097050.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sol['Embarked'].fillna(df_sol['Embarked'].mode()[0], inplace=True)

Solutions for Part 2:

In [26]:
# Load fresh data for solutions
df_sol = pd.read_csv('titanic.csv')

#Solution 1
print("--- Solution 1 ---")
multi_df_sol = df_sol.set_index(['Pclass', 'Sex', 'Embarked'])
median_stats = multi_df_sol.groupby(level=['Pclass', 'Sex', 'Embarked'])[['Age', 'Fare']].median()
print("Median Age and Fare for each group:")
print(median_stats)
print("\nGroup with highest median fare:")
print(median_stats['Fare'].idxmax())
print("\n" + "="*50 + "\n")


# --- Solution 2 ---
print("--- Solution 2 ---")
# a. Create Title
df_sol['Title'] = df_sol['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
# b. Consolidate titles
title_map = {'Mlle': 'Miss', 'Ms': 'Miss', 'Mme': 'Mrs'}
df_sol['Title'] = df_sol['Title'].replace(title_map)
# c. Convert to Category
df_sol['Title'] = df_sol['Title'].astype('category')
print("Cleaned Title value counts and dtype:")
print(df_sol['Title'].value_counts())
print(df_sol['Title'].dtype)
print("\n" + "="*50 + "\n")


# --- Solution 3 ---
print("--- Solution 3 ---")
def create_purchase_date_features(df):
    df_copy = df.copy()
    sailing_date = pd.to_datetime('1912-04-10')
    # Generate random purchase dates
    random_days = np.random.randint(1, 101, size=len(df_copy))
    df_copy['PurchaseDate'] = sailing_date - pd.to_timedelta(random_days, unit='d')
    # Engineer features
    df_copy['DaysBeforeSailing'] = (sailing_date - df_copy['PurchaseDate']).dt.days
    df_copy['PurchaseWeekday'] = df_copy['PurchaseDate'].dt.day_name()
    return df_copy

date_featured_df = df_sol.pipe(create_purchase_date_features)
print("DataFrame with purchase date features:")
print(date_featured_df[['PurchaseDate', 'DaysBeforeSailing', 'PurchaseWeekday']].head())
print("\n" + "="*50 + "\n")


# --- Solution 4 ---
print("--- Solution 4 ---")
# Sort by PassengerId to ensure correct order for rolling window
df_sol_sorted = df_sol.sort_values(by='PassengerId').reset_index(drop=True)
df_sol_sorted['rolling_fare_mean'] = df_sol_sorted['Fare'].rolling(window=10).mean()
df_sol_sorted['rolling_fare_std'] = df_sol_sorted['Fare'].rolling(window=10).std()
print("Rolling Fare calculations for PassengerId=10 (index 9):")
print(df_sol_sorted.loc[9, ['Fare', 'rolling_fare_mean', 'rolling_fare_std']])

--- Solution 1 ---
Median Age and Fare for each group:
                          Age     Fare
Pclass Sex    Embarked
1      female C         37.00  83.1583
              Q         33.00  90.0000
              S         33.00  79.6500
       male   C         36.50  61.6792
              Q         44.00  90.0000
              S         42.00  35.0000
2      female C         22.00  24.0000
              Q         30.00  12.3500
              S         29.00  23.0000
       male   C         29.50  25.8604
              Q         57.00  12.3500
              S         30.00  13.0000
3      female C         14.25  14.4583
              Q         20.00   7.7500
              S         23.00  14.4500
       male   C         26.00   7.2292
              Q         27.00   7.7500
              S         25.00   8.0500

Group with highest median fare:
(np.int64(1), 'female', 'Q')

==================================================

--- Solution 2 ---
Cleaned Title value counts and dtype:
Title
Mr          517
Miss        185
Mrs         126
Master       40
Dr            7
Rev           6
Col           2
Major         2
Countess      1
Capt          1
Jonkheer      1
Don           1
Lady          1
Sir           1
Name: count, dtype: int64
category

==================================================

--- Solution 3 ---
DataFrame with purchase date features:
  PurchaseDate  DaysBeforeSailing PurchaseWeekday
0   1912-02-24                 46        Saturday
1   1912-01-16                 85         Tuesday
2   1912-03-23                 18        Saturday
3   1912-03-01                 40          Friday
4   1912-04-09                  1         Tuesday

==================================================

--- Solution 4 ---
Rolling Fare calculations for PassengerId=10 (index 9):
Fare                   30.0708
rolling_fare_mean     27.02082
rolling_fare_std     23.601938
Name: 9, dtype: object